NODE_ENV=production
PORT=10000

APP_URL=https://serviceproviderbackend.onrender.com
FRONTEND_URL=https://serviceprovider-8v3c.onrender.com

MONGODB_URI=your_real_mongodb_uri

JWT_ACCESS_SECRET=your_secret
JWT_REFRESH_SECRET=your_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

COOKIE_SECRET=your_cookie_secret
COOKIE_SECURE=true
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=None

ALLOWED_ORIGINS=https://serviceprovider-8v3c.onrender.com

CAPTCHA_ENABLED=false